<div class="gradient-bg full-height">
  <div class="categories-page">
    <h2 class="text-center text-white pt-3 pb-3 categories-header">CHOOSE YOUR PATH</h2>
    <ul class="categories-cards-container  align-items-start p-4 mx-auto">
      <li class="category-card animate__animated animate__bounceIn ">
        <div class="category-img">
          <img src="../../../assets/images/geography.jpeg">
        </div>
        <div class="category-detail">
          <h4 class="text-center p-2">Geography</h4>
          <p class="text-center px-2">Little text about geography</p>
          <button routerLink="searching-opponent/2" class="btn d-block cursor-pointer outline-0">Play</button>
        </div>
      </li>
     <li class="category-card animate__animated animate__bounceIn">
        <div class="category-img">
          <img src="../../../assets/images/geography.jpeg">
        </div>
        <div class="category-detail">
          <h4 class="text-center p-2">Physic</h4>
          <p class="text-center px-2">Little text about geography</p>
          <button class="btn d-block cursor-pointer outline-0">Play</button>
        </div>
      </li>
      <li class="category-card animate__animated animate__bounceIn">
        <div class="category-img">
          <img src="../../../assets/images/physics.jpg">
        </div>
        <div class="category-detail">
          <h4 class="text-center p-2">Physic</h4>
          <p class="text-center px-2">Little text about geography Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa volupta</p>
          <button class="btn d-block cursor-pointer outline-0">Play</button>
        </div>
      </li>
    </ul>
  </div>
</div>
