<div class="gradient-bg full-height">
  <div class="searching-opponent-page d-flex align-items-center justify-content-center">
    <div class="players-avatar-containers d-block ">
      <h4 class="text-center text-white">Searching Opponent ....</h4>
      <div class="d-inline-block player-avatar main-player animate__animated animate__pulse  animate__infinite	infinite">
        <img src="" alt="" src="../../../assets/images/user1.png">
        <span>John Doe</span>
      </div>
      <div class=" d-inline-block versus"></div>
      <div class="d-inline-block player-avatar second-player">
        <img src="" alt="" src="../../../assets/images/{{placeHolderAvatar?.user_img}}.png">
        <span>{{placeHolderAvatar?.user_name}}</span>
      </div>
    </div>
  </div>
</div>
