<div class="gradient-bg">
  <div class="login-page full-height">
    <div class="content">
      <div class="header">
        <img src="/assets/logo.svg" />
        <h1 class="title">QUIZZER</h1>
        <p class="sub-title">Login to Continue</p>
      </div>
      <form>
        <div class="input-group">
          <label for="username">username</label>
          <input type="text" id="username" placeholder="Enter Your Username"/>
        </div>
        <div class="input-group">
          <label for="password">password</label>
          <input type="password" id="password" placeholder="Enter Your password"/>
        </div>
        <a href="password" class="forgot-password">Forgot password?</a>

        <button class="btn btn-outline-light btn-round">Login</button>
      </form>
    </div>
  </div>
</div>
