@import '../../../assets/theme/variables.scss';
.login-page {
  height: 100%;
  width: 100%;
  background: $background-theme;
  display: flex;

  .content {
    max-width: 400px;
    width: 100vw;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    color: var(--white);
    font-size: 3em;
    font-weight: bold;
  }

  .sub-title {
    font-size: 1.1em;
    color: var(--secondary-color);
    margin: 5px 0;
  }

  .header {
    padding: 50px 0;
    text-align: center;
  }

  form {
    width: 100%;
    padding: 0 25px 150px;

    label {
      text-transform: uppercase;
    }

    .signup-btn {
      margin: 30px auto 0;
    }

    .forgot-password {
      color: var(--secondary-color);
      margin: 15px 0 30px;
      text-align: right;
      display: block;
      text-transform: capitalize;
      text-decoration: underline;
    }
  }
}
