.admin-question {
  transition: transform .2s;
  margin: 5px 0;

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & > * {
      color: var(--white);
    }
  }


  &.closed{
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
    }
  }

  .badge {
    font-size: 1em;
    margin: 0 5px;
  }
}
